<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.machineManagementSystem.mapper.CourseMapper">

    <resultMap type="com.design.machineManagementSystem.pojo.Course" id="CourseMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="courseName" column="course_name" jdbcType="VARCHAR"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="hours" column="hours" jdbcType="INTEGER"/>
        <result property="managerId" column="manager_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="CourseMap">
        select
          id, course_name, created_at, created_by, hours, manager_id
        from course
        where id = #{id}
    </select>



    <!--新增所有列-->
    <insert id="increased" keyProperty="id" useGeneratedKeys="true">
        insert into course(course_name, created_at, created_by, hours, manager_id)
        values (#{courseName}, now(), #{createdBy}, #{hours}, #{managerId})
    </insert>
        <!--用select进行分页查询-->
      <select id="getPageSearchByCondition" resultMap="CourseMap">
        select *  from course
          <if test="page.key.courseName != null and page.key.courseName != ''">
              where course_name like '%' #{page.key.courseName}  '%'
          </if>
            <!--排序 desc是降序-->
        order by
        id desc
        <!--分页查询-->
      
        limit  #{page.startNum} , #{page.pageSize}
    </select>
     <!--分页查询条数-->
    <select id="getPageSearchCount" resultType="int">
        select count(id) as count from course
        <if test="page.key.courseName != null and page.key.courseName != ''">
        where course_name like '%' #{page.key.courseName}  '%'
    </if>
    </select>

   

    <!--通过主键修改数据-->
    <update id="edit">
        update course
        <set>
            <if test="courseName != null and courseName != ''">
                course_name = #{courseName},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt},
            </if>
            <if test="createdBy != null and createdBy != ''">
                created_by = #{createdBy},
            </if>
            <if test="hours != null">
                hours = #{hours},
            </if>
            <if test="managerId != null">
                manager_id = #{managerId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from course where id = #{id}
    </delete>
    <select id="getCourseList" resultMap="CourseMap">
        select * from course where created_at is not null
    </select>
</mapper>

